{% extends "tracker/base.html" %}
{% block content %}
{% with chunk.task as task %}
    <h1>Tracker: {{ task.project.name }} &rarr; {{ task.name }} &rarr; chunk {{ chunk.ordinal }}</h1>
{% endwith %}
<table width="100%">
    <tr>
        <td valign="top">
            <form method="post" action=".">
                <!-- TODO refresh timesince dynamically -->
                <p>Task time: {{ chunk.task.cumulative_time }} minutes</p>
                <p>This chunk: <span id="chunk_time">{{ chunk.start|timesince }}</span> minutes</p>
                {{ notes_form.as_p }}
                <input type="submit" name="save" value="save chunk"> |
                <input type="submit" name="new" value="new chunk"> |
                <input type="submit" name="stop" value="stop task"> |
                <input type="submit" name="finish" value="finish task">
                {% if task_form.errors %}{{ task_form.errors }}{% endif %}
                <p>switch to: {% for field in task_form %}{% ifequal forloop.counter 2 %}<div id="task_picker">{% endifequal %}{{ field.label_tag }} {{ field }} {% endfor %}<input type="submit" name="switch" value="go"></div></p>
            </form>
        </td>
        <td valign="top" width="25%"x>
            {% for chunk in chunks %}
                <dl>
                    <dt>{{ chunk.task.project.name }} &rarr; {{ chunk.task.name }} &rarr; {{ chunk.ordinal }}: {{ chunk.duration }} minutes</dt>
                    <dl><pre>{{ chunk.notes }}</pre></dl>
                </dl>
            {% endfor %}
        </td>
    </tr>
</table>
<script>
$(function () {
    var chunk_time = $('#chunk_time');
    var start_time = new Date;
    var one_minute = 60000  // milliseconds 
    var task_picker = $('#task_picker');
    var project_picker = $('#id_project');
    var current_task_picker = $('#id_task');

    // events
    project_picker.change(function () {
        var project = $(this).find('option:selected').text();
        if (!project) {
            task_picker.hide();
        } else {
            current_task_picker.find('option').each(function () {
                var option = $(this);
                if (option.text().split(':')[0] === project) {
                    option.show();
                } else {
                    option.hide();
                }
            });
            task_picker.show();
        }
    });    

    // utility functions
    var update_chunk_time = function () {
        var now = new Date;
        var elapsed = Math.round((now - start_time) / one_minute);
        chunk_time.text(elapsed);
    }

    var init = function () {
        task_picker.hide();
        update_chunk_time();
        setInterval(update_chunk_time, one_minute);
       
    }();
})
</script>
{% endblock %}
